<ng-container *transloco="let t">
  <div class="flex flex-col">
    <!--    header-->
    <div class="header border-b flex justify-between items-center p-6">
      <div class="text-lg text-[#323544] font-medium font-bold card-title">
        Assign user
      </div>
      <div>
        <button mat-icon-button (click)="dialogRef.close()">
          <mat-icon svgIcon="heroicons_outline:x" title="Close" class="icon-size-5"></mat-icon>
        </button>
      </div>
    </div>
    <!--    content-->
    <div class="mt-4 px-6" [formGroup]="formGroup">
      <div class="field w-full flex flex-col mb-4">
        <label class="flex mb-1 text-[#323544] font-medium text-base">
          <span class="required flex">Role</span>
          <mat-icon svgIcon="heroicons_outline:exclamation-circle" class="icon-size-5 text-[#AFAFB7] ml-1"></mat-icon>
        </label>
        <div class="input w-full">
          <mat-form-field
            class="fuse-mat-no-subscript w-full mt-4 sm:mt-0 bg-card">
            <mat-select formControlName="role">
              <mat-option *ngFor="let r of listRole" [value]="r">{{r}}</mat-option>
            </mat-select>
          </mat-form-field>
          <app-error-message [control]="formGroup.get('role')" name="Role"></app-error-message>
        </div>
      </div>
      <div class="field w-full flex flex-col">
        <label class="flex mb-1 text-[#323544] font-medium text-base">
          <span class="required flex">Member</span>
          <mat-icon svgIcon="heroicons_outline:exclamation-circle" class="icon-size-5 text-[#AFAFB7] ml-1"></mat-icon>
        </label>
        <div class="input w-full">
          <mat-form-field
            class="fuse-mat-no-subscript w-full mt-4 sm:mt-0 bg-card">
            <mat-select formControlName="member">
              <mat-option *ngFor="let m of listMember" [value]="m">{{m}}</mat-option>
            </mat-select>
          </mat-form-field>
          <app-error-message [control]="formGroup.get('member')" name="Member"></app-error-message>
        </div>
      </div>
    </div>
    <!--    footer-->
    <div class="footer p-6 flex justify-end">
      <button mat-flat-button (click)="dialogRef.close()" class="btn-secondary mr-3">
        <span>Hủy bỏ</span>
      </button>
      <button mat-flat-button class="btn-primary-active" [disabled]="formGroup.invalid" (click)="formGroup.valid && save$.next(formGroup.getRawValue())">
        <span>Xác nhận</span>
      </button>
    </div>
  </div>
</ng-container>



